{% extends "_base.html" %}
{% block page %}fourofour{% endblock page%}
{% block lang %}en{% endblock lang %}

{% block title %}{{ config.title }}{% endblock title %}
{% block desc %}{{ config.description }}{% endblock desc %}
{% block content %}
<main class="col h-screen flex-center justify-center">
    <div class="flex justify-center">
        <div class="col">
            <h1 class="text-3xl">404: Page Not Found </h1>
            <div class="flex justify-center">
                <a class="tl-link text-lg" href="{{ config.base_url }}">home</a>
            </div>
        </div>
    </div>
</main>
{% endblock content %}