<footer class="text-stone-400 dark:text-stone-400 flex flex-row justify-between my-16">
  {% if config.extra.footer_copyright %}
  <div class="flex justify-between">
    {% set footer_copyright = config.extra.footer_copyright | trim %}
    {{ footer_copyright ~ "&nbsp;" | markdown | safe }} 
  </div>
  {% endif %}
  {% if config.extra.footer_credits %}
  <div class="">
    powered by
    <a class="text-stone-500 dark:text-stone-300 underline underline-offset-4 decoration-1 hover:decoration-2 decoration-sky-500 dark:decoration-sky-400" href="https://www.getzola.org" target="_blank" rel='noreferrer noopener'>zola</a>
    and
    <a class="text-stone-500 dark:text-stone-300 underline underline-offset-4 decoration-1 hover:decoration-2 decoration-sky-500 dark:decoration-sky-400" href="https://github.com/TeaDrinkingProgrammer/tranquil" target="_blank" rel='noreferrer noopener'>tranquil</a>
  </div>
  {% endif %}
</footer>