{% extends "_base.html" %}

{% block page %}blog{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}{{ section.description }}{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div class="flex items-center justify-center">
  <div class="py-7 p-6 max-w-prose">
    <main class="col gap-5">
      {% if config.extra.blog_categorized %}
      {% for category,posts in section.pages | group_by(attribute="taxonomies.categories.0") -%}
      <h1 class="text-2xl">{{ category }}</h1>
      <div class="col gap-5">
        {% for post in posts %}
        <div>
          <a href="{{ post.permalink }}" class="tl-link">{{ post.title }}</a>
          <span class="text-black dark:text-white text-lg pl-2">{{ post.date | date}}</span>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% else %}
      <div class="col gap-5">
        {% for post in section.pages %}
        <div>
          <a href="{{ post.permalink }}"class="tl-link">{{ post.title }}</a>
          <span class="text-black dark:text-white text-lg pl-2">{{ post.date | date}}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>
    {% include "_footer.html" %}
  </div>
</div>
{% endblock content %}