{% extends "_base.html" %}

{% block page %}privacy{% endblock page%}
{% block lang %}{% if page.extra.lang %}{{ page.extra.lang }}{% else %}{{ page.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ page.title }}{% endblock title %}
{% block desc %}{{ page.description }}{% endblock desc %}

{% block content %}
{% include "_header.html" %}
<div class="flex items-center justify-center">
  <main class="py-24 p-6 max-w-prose tl-prose">
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
  </main>
</div>
{% endblock content %}