@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://brick.freetls.fastly.net/Lato:400");

/* I mostly use this for math like exponents and stuff */
/* font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; */
sub, sup { 
    all:unset;
    @apply text-base;
}

sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

/* Sadly need to resort to raw css for the footnotes */
.footnote-definition {
    display: flex;
    flex-direction: row;
    align-items: center;
    @apply gap-1;
}

.footnote-definition-label::after {
    content: ".";
}

code td {
    padding: 0px !important;
}

code tr {
    border-bottom-width: 0px !important;
}

code table {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* Copy button css magic */
.copy {
    z-index: 9;
    position:absolute;
    right: .6em;
    top: .6em;
}
.codeblock {
    position: relative;
}
@layer components {

    .footnote-definition-label {
        position: static;
        line-height: inherit;
        font-size: 1em;
    }

    code mark {
        all: unset;
        @apply dark:bg-stone-700;
        @apply bg-stone-300;
        @apply block;
    }
    .tl-prose {
        @apply prose prose-slate dark:prose-invert prose-a:underline prose-a:underline-offset-4 prose-a:decoration-2 prose-a:decoration-sky-500 prose-a:dark:decoration-sky-400
    }
    .tl-link {
        @apply text-black dark:text-white underline underline-offset-8
decoration-1 hover:decoration-2 decoration-sky-500 dark:decoration-sky-400
    }
    .row {
        @apply flex flex-row
    }
    .col {
        @apply flex flex-col
    }
}